@font-face {
    font-family: "LOTTERIACHAB";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@media (max-height: 300px) {
    p {
        font-family: "LOTTERIACHAB";
    }
}

@media (min-height: 500px) {
    p {
        background-color: green;
    }
}

@media (min-width: 500px) {
    body {
        background-color: skyblue;
    }
}
@media (max-width: 300px) {
    body {
        background-color: orange;
    }
}
